/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */


/*===================================
 Advance Search Form Style
===================================*/

.class-wte-advanced-search-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.class-wte-advanced-search-wrapper .advanced-search-field{
  padding: 0 15px;
  max-width: 100%;
  flex-grow: 1;
  flex-basis: 0; 
}


/*===================================
 Trip Search Result Page Style
====================================*/

.trip-search-result #primary {
    width: 100%;
    padding: 0 15px
}

.trip-search-result #primary .advanced-search-wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.trip-search-result #primary .advanced-search-wrapper {
    margin: 0 -15px;
}

.trip-search-result #primary .advanced-search-wrapper .sidebar {
    float: left;
    width: 25%;
    padding: 0 15px;
    background: #fafafa;
    border-radius: 5px;
    padding: 20px;
}

.trip-search-result #primary .advanced-search-wrapper .sidebar h2 {
    font-size: 1.25em;
    line-height: 1.3em;
}

.trip-search-result #primary .advanced-search-wrapper .sidebar h3 {
    font-size: 1em;
}

.trip-search-result #primary .advanced-search-wrapper .sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.trip-search-result #primary .advanced-search-wrapper .sidebar ul li {
    margin: 0 0 10px;
}

.trip-search-result #primary .advanced-search-wrapper .sidebar ul li:after {
    content: '';
    display: block;
    clear: both;
}

.trip-search-result #primary .advanced-search-wrapper .sidebar ul li input[type="checkbox"] {
    margin-right: 10px;
}

.trip-search-result #primary .advanced-search-wrapper .sidebar ul li .count {
    float: right;
}

.trip-search-result #primary .advanced-search-wrapper .sidebar .cost-slider-value:after {
    content: '';
    display: block;
    clear: both;
}

.trip-search-result #primary .advanced-search-wrapper .wte-advanced-search-wrap {
    float: left;
    width: 75%;
    padding-right: 15px;
    padding-left: 66px;
}

.trip-search-result #primary .advanced-search-wrapper .wte-advanced-search-wrap .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.trip-search-result #primary .advanced-search-wrapper .wte-advanced-search-wrap .grid .col{
    width: 50%;
    padding: 0 15px;
    margin: 0 0 30px;
}

.search-dur,
.search-price {
    display: none;
}

.search-dur.show,
.search-price.show {
    display: block;
}

.pagination a,
.pagination button {
    color: #0a0a0a;
    display: block;
    padding: .1875rem .625rem;
    border-radius: 0;
}

.pagination li {
    font-size: .875rem;
    margin-right: .0625rem;
    border-radius: 0;
    display: none;
}

.pagination {
    margin-left: 0;
    margin-bottom: 1rem;
}

ul.pagination span.current {
    padding: 4px 10px;
    background-color: #21A08B;
    color: #fff;
    border-radius: 4px;
}

.pagination a:hover,
.pagination button:hover {
    background: #e6e6e6;
}

@media only screen and (max-width: 1024px) {
    .class-wte-advanced-search-wrapper{
        flex-direction: column;
    }
}

@media only screen and (max-width: 767px) {
    .trip-search-result #primary .advanced-search-wrapper .wte-advanced-search-wrap .grid {
        flex-direction: column;
    }

    .trip-search-result #primary .advanced-search-wrapper .wte-advanced-search-wrap .grid .col{
        width: 100%;
    }

    .trip-search-result #primary .advanced-search-wrapper .sidebar {
        width: 100%;
        margin: 0 0 30px;
    }

    .trip-search-result #primary .advanced-search-wrapper .wte-advanced-search-wrap {
        width: 100%;
        padding: 0 15px;
    }
}
