/* Table of Content
==================================================
	1.0  -  Custom Class
	2.0  -  Browser Fix
	3.0  -  DT Responsive*/

	/*--------------------------------------------------------------
	1.0 - Custom Class
	--------------------------------------------------------------*/

	a.video-image span:after, .custom-tab-content-menu h5:after, .custom-tab-content-menu .wpb_text_column.wpb_content_element p, .custom-package .wpcf7-form-control-wrap:after { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }

	.title_uppercase { text-transform:uppercase; }
	.title_bold { font-weight:bold; }
	.title_light { font-weight:300; }
	.title_normal { font-weight:400; }
	.letter_space { letter-spacing: 1.5px; }
	.letter_space_small { letter-spacing: 0.5px; }
	.letter_space_medium { letter-spacing: 4px; }
	.letter_space_large { letter-spacing: 9px; }
	.display-style { display: inline-block; }

	/* http://prntscr.com/dydrzx = Reseller Hosting page */
	.extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner, .extend-bg-fullwidth-righzt.vc_col-has-fill > .vc_column-inner { position: relative; }
	.extend-bg-fullwidth-left:not(.vc_col-has-fill):after, .extend-bg-fullwidth-right:not(.vc_col-has-fill):after,
	.extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after, .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after { content:""; display:inline !important; height:100%; position:absolute; top: 0; width: 9999px; z-index: -1; }
	.extend-bg-fullwidth-left:not(.vc_col-has-fill):after, .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after { z-index: 0; right:100%; }
	.extend-bg-fullwidth-right:not(.vc_col-has-fill):after, .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after { z-index: 0; left:100%; }

	.extend-bg-fullwidth-left:after, .extend-bg-fullwidth-right:after,
	.extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after, .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after { background-color: inherit; }


	.dt-sc-special-testimonial-container .extend-bg-fullwidth-left:after, .dt-sc-special-testimonial-container .extend-bg-fullwidth-right:after { background: none; }

	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.vc_col-has-fill):after,
	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after { right: 0; transform: skewX(-30deg) translateX(18px); z-index: 0; box-shadow: 8px 0 0 0 #fff; }

	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.dt-col-static-position) > .vc_column-inner { position: relative; z-index: 1 !important; }

	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:before { left: 0; transform: skewX(-30deg) translateX(-32px); }

	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left[class*="dt-skin-"],
	.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right[class*="dt-skin-"] { background-color: transparent; }

	a.video-image span { border-radius: 50%; font-size: 13px; position: relative; height: 60px; width: 60px; line-height: 60px; color: #fff; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; text-align: center; }
	a.video-image span:after { border: 2px solid; position: absolute; display: block; content: ""; height: 64px; width: 64px; line-height: 64px; border-radius: 50%; z-index: 1; top: -2px; left: -2px; animation: videoPulse 1.5s infinite linear; animation-delay: 0.5s; opacity: 1; }

	.vc_row.wpb_row.vc_inner.vc_row-fluid.custom_video-player .vc_col-sm-12 { position: absolute; bottom: 0; right: 0; width: 54%; }
	.custom_video-player a.video-image { position: absolute; left: 35px; top: 40px; }
	.custom_video-player .wpb_text_column.wpb_content_element { padding: 0 0 0 100px; }
	.custom_video-player p { margin: 0; }
	.custom_video-player h3 i { font-style: normal; font-weight: 400; font-size: 16px; }
	.vc_row.wpb_row.vc_inner.vc_row-fluid.custom-gradient-border .wpb_column .vc_column-inner:before { display: inline-block; width: 5px; height: 100%; position: absolute; left: 0; top: 0; background-color: #000; z-index: 2; }

	.custom-price-title h2 { color: #ffffff; text-transform: uppercase; letter-spacing: 4px; text-align: center; }
	.custom-price-title i { letter-spacing: 0; font-style: normal; font-size: 22px; }
	.custom-price-title i sup { color: #c3c3c3; }
	.custom-price-title i:last-child { font-size: 16px; text-transform: lowercase; color: #6b6b6b; }

	@-webkit-keyframes videoPulse {
	  0% {
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1);
	  }
	  100% {
	    -webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	    opacity: 0;
	  }
	}
	@keyframes videoPulse {
	  0% {
	    -webkit-transform: scale(1);
	    -moz-transform: scale(1);
	    -ms-transform: scale(1);
	    -o-transform: scale(1);
	    transform: scale(1);
	  }
	  100% {
	    -webkit-transform: scale(1.2);
	    -moz-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	    -o-transform: scale(1.2);
	    transform: scale(1.2);
	    opacity: 0;
	  }
	}

	.image-overlay-icon .vc_single_image-wrapper { position: relative; }
	.image-overlay-icon .vc_single_image-wrapper:before { content: ""; display: block; width: 100%; height: 100%; background: rgba(0,0,0,0.4); top: 0; left: 0; right: 0; margin: 0 auto; position: absolute; }

	.image-overlay-icon a.video-image { position: absolute; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; width: 100%; text-align: center; }

	.gradient-parallax:before { content: ""; position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; z-index: 9;
    background: -moz-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    background: linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1); }

	.gradient-parallax .gradient-content { z-index: 9; padding-right: 45px; }

	.custom-tab-content-menu h5 { display: block; float: left; font-size: 16px; overflow: hidden; position: relative; width: 80%; }
	.custom-tab-content-menu h5:after { background: #ffda39; content: ""; height: 1px; position: absolute; top: 50%; width: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); margin: 0 0 0 15px; }
	.custom-tab-content-menu h5:hover:after { width: 100%; }
	.custom-tab-content-menu p { float: right; line-height: normal; }

	.custom-iconbox-gray .dt-sc-icon-box.type2 { border-color: #2d2e32; }
	.custom-iconbox-gray .dt-sc-icon-box.type2:after { background-color: #ffffff; }
	.custom-iconbox-gray .dt-sc-icon-box.type2 .icon-content h4 { color: #ffffff; }
	.custom-iconbox-gray .dt-sc-icon-box.type2 .icon-content p { color: #6b6b6b; }

	.gradient-half-overlay:before, .gradient-half-overlay-white:before, .gradient-half-overlay-white-alternate:before { content: ""; display: block; position: absolute; left: 0; bottom: 0; height: 35.5%; background-color: #f9f9f9; width: 100%; z-index: 0; }
	.gradient-half-overlay-white:before { background-color: #ffffff; height: 41.2%; }
	.gradient-half-overlay-white-alternate:before { background-color: #ffffff; top: 0; bottom: auto; height: 44%; }
	.gradient-half-overlay-white .dt-carousel-navigation .carousel-prv-arrow span:before, .gradient-half-overlay-white .dt-carousel-navigation .carousel-next-arrow span:before { border-color: #ffffff; }
	.gradient-half-overlay .pagination.blog-pagination { display: none; }
	.gradient-half-overlay-bg .dt-sc-classic-ii-style.dt-sc-post-entry .blog-entry.has-post-thumbnail > div.entry-thumb:before, .gradient-half-overlay-white-bg .dt-sc-classic-ii-style.dt-sc-post-entry .blog-entry.has-post-thumbnail > div.entry-thumb:before, .gradient-half-overlay-bg .dt-sc-trip-item > .image-wrapper:after { content: ""; display: block; position: absolute; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); padding-top: 170%; top: 100%; height: auto; background-color: #f9f9f9; width: 9999px; z-index: 0; }
	, .gradient-half-overlay-white-bg .dt-sc-classic-ii-style.dt-sc-post-entry .blog-entry.has-post-thumbnail > div.entry-thumb:before { background-color: #ffffff; }

	.activities-gray-bg .dt-sc-activity-item .dt-activity-trip-lists li { background-color: #ffffff; }

	.mask-border-img { position: relative; z-index: 1; }
	.mask-border-img .vc_single_image-wrapper:after { content: ""; position: absolute; width: 88%;	height: 75%; top: 0; left: 0; bottom: 0; right: 0; margin: auto; z-index: -1; animation-duration: 1s; animation-name: float; animation-iteration-count: infinite;	animation-timing-function:ease-in-out; animation-direction: alternate; animation-play-state: running; animation: float 1s ease-in-out infinite alternate running; }
	.mask-border-img.dt-sc-dark-bg .vc_single_image-wrapper:after { animation-name: float-white; }

	.mask-border-img.custom_bottom_position .vc_single_image-wrapper:after { height: 85%; top: auto; }

	.custom-package p { display: block; float: left; margin: 0 0 20px; position: relative; width: 100%; }
	.custom-package.type2 p { margin: 0 0 30px; }
	.custom-package p i { position: absolute; left: 30px; top: 0; margin: 20px 0 0 0; opacity: 0.3; }
	.custom-package input[type="text"], .custom-package input[type="password"], .custom-package input[type="email"], .custom-package input[type="url"], .custom-package input[type="tel"], .custom-package textarea { border-width: 0 0 3px 0; padding: 18px 15px 18px 60px; }
	.custom-package textarea { height: 140px; }
	.custom-package .wpcf7-form-control-wrap:before { height: 3px; opacity: 0.3; width: 100%; }
	.custom-package .wpcf7-form-control-wrap:after { content: ""; position: absolute; left: 0; bottom: 0; margin: auto; height: 3px; background-color:#000; width: 0; }
	.custom-package .wpcf7-form-control-wrap:hover:after { width: 100%; }
	.custom-package input[type="submit"] { margin: 0; width: 100%; }

	.bottom-gray-bg:before { background-color: #f5f5f5; content: ""; display: block; height: 40%; left: 0; right: 0; bottom: 0; position: absolute; width: 100%; z-index: 0; }

	.ult-tooltipster-default .ult-tooltipster-content img { margin: 5px 0 0 0; }
	.custom-dark-gradient-overlay:before { content: ""; display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: -webkit-linear-gradient(bottom, #020202, rgba(2,2,2,.8)); background: -moz-linear-gradient(bottom, #020202, rgba(2,2,2,.8)); background: -o-linear-gradient(bottom, #020202, rgba(2,2,2,.8));	background: -ms-linear-gradient(bottom, #020202, rgba(2,2,2,.8));	background: linear-gradient(to top, #020202, rgba(2,2,2,.8)); }

	.custom-team.dt-sc-team.hide-social-show-on-hover .dt-sc-team-details { text-align: left; background: rgba(0, 0, 0, 0); padding: 25px 0px 0px; }
	.custom-team.dt-sc-team.hide-social-show-on-hover:hover .dt-sc-team-details { background: rgba(0, 0, 0, 0); }
	.custom-team.dt-sc-team.hide-social-show-on-hover:hover .dt-sc-team-details h4 { color: initial; }
	.custom-team.dt-sc-team.hide-social-show-on-hover .dt-sc-team-details h5, .custom-team.dt-sc-team.hide-social-show-on-hover:hover .dt-sc-team-details h5 { color: #6b6b6b; }
	.custom-team.dt-sc-team:hover { box-shadow: none; -moz-box-shadow: none; -ms-box-shadow: none; -webkit-box-shadow: none; }

	.custom-map-list { line-height: 22px; }

	.trip-post-content .dt-sc-toggle-content ul.dt-sc-fancy-list.detail-list { margin: 0; }
	.trip-post-content .dt-sc-toggle-content ul.dt-sc-fancy-list.detail-list li:last-child { padding-bottom: 0; }
	ul.dt-sc-fancy-list.detail-list li { padding: 0 0 30px 25px; }
	ul.dt-sc-fancy-list.detail-list li:before { box-shadow: 0 0 0 8px #fff; content: ""; position: absolute; width: 6px; height: 6px; background-color: #000; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); left: 0; top: 11px; margin: auto; }
	ul.dt-sc-fancy-list.detail-list li:after { content: ""; position: absolute; left: 2px; top: 0; width: 2px; height: 100%; z-index: -1; background-color: #000; }
	ul.dt-sc-fancy-list.detail-list li:last-child:after { display: none; }
	ul.dt-sc-fancy-list.detail-list i { display: block; font-style: normal; padding-bottom: 15px; font-size: 16px; font-weight: 600; letter-spacing: 0.3px; }

	.custom-trip-detail-list-table { margin: 35px 0 0; }
	.custom-trip-detail-list-table table { border-width: 1px; border-style: solid; border-color: #e7e7e7; margin: 0; }
	.custom-trip-detail-list-table table tr th { background-color: #fff7b1; border-width: 0; color: #131313; min-width: 290px; text-align: left; font-size: 16px; padding-left: 30px; text-transform: capitalize; }
	.custom-trip-detail-list-table table thead { border-bottom: 1px solid #e7e7e7; }
	.custom-trip-detail-list-table table tr th:first-child, .custom-trip-detail-list-table table tr td:first-child { font-weight: 600; }
	.custom-trip-detail-list-table ul.dt-sc-fancy-list { margin: 0; }
	.custom-trip-detail-list-table ul.dt-sc-fancy-list li:before { content: ""; width: 6px; height: 6px; background-color: #000; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); top: 0; bottom: 0; margin: auto; }
	.custom-trip-detail-list-table table tr td { background: rgba(0, 0, 0, 0); text-align: left; font-size: 16px; line-height: 28px; padding: 25px 30px; }
	.custom-trip-detail-list-table ul.dt-sc-fancy-list li { padding: 6px 0 5px 20px; }
	.custom-trip-detail-list-table table tr th i { margin: 0 10px 0 0; }
	.custom-trip-detail-list-table table tr:last-child th { border-bottom: 1px solid #e7e7e7; }
	.custom-trip-detail-list-table table tr:last-child th:last-child { padding-bottom: 30px; }
	.custom-trip-detail-list-table table tr:first-child th:first-child { padding-top: 30px; }
	.custom-trip-detail-list-table table tr:last-child td { border-width: 0; }

	.dt-sc-icon-box.type5.no-icon-bg.no-border .icon-content { border-width:0; }

	.custom-overlap-slider { top: -80px; margin: 0; z-index:1; }
	.custom-breadcrumb-form-overlap { top: -64px; }

	.dt-sc-button.custom-widget-button.filled { margin: 0; padding: 8px 24px; letter-spacing: 2px; background-color: #f5d142; color:#000; }
	.dt-sc-button.custom-widget-button.filled:hover { background-color: #ffffff; }
	.custom-widget-gradient { background: -webkit-linear-gradient(bottom, #000, rgba(0,0,0,.5)); background: -moz-linear-gradient(bottom, #000, rgba(0,0,0,.5)); background: -o-linear-gradient(bottom, #000, rgba(0,0,0,.5)); background: -ms-linear-gradient(bottom, #000, rgba(0,0,0,.5)); background: linear-gradient(to top, #000, rgba(0,0,0,.5)); }
	
	#slider .dt-sc-tabs-horizontal-frame-container.type8 .scroll_tabs_container div.scroll_tab_inner{min-height:60px; text-align:center !important;}
	#slider .type8 ul.dt-sc-tabs-horizontal-frame .scroll_tab_inner li > a{text-align:center !important;}
	#slider .dt-sc-tabs-horizontal-frame-container.type8 .scroll_tabs_container{min-height:60px;}
	
	.dt-sc-button.small.with-icon.icon-right.type1 svg { margin-left:25px; }	
	.dt-sc-button.medium.with-icon.icon-right.type1 svg { margin-left:30px; }	
	.dt-sc-button.large.with-icon.icon-right.type1 svg { margin-left:34px; }
	.dt-sc-button.xlarge.with-icon.icon-right.type1 svg { margin-left: 38px; }
	
	.dt-sc-timeline-section.type5 .dt-sc-timeline .dt-sc-timeline-content .dt-sc-timeline-icon-wrapper svg{font-size:35px;}
	.dt-sc-team-social li svg { width: 34px; height: 34px; text-align: center; font-size: 16px; line-height: 34px;}
	.dt-sc-team-social.rounded-square li svg{ border-radius:5px; }
	ul.dt-sc-tabs-horizontal .scroll_tab_inner li > a > svg, ul.dt-sc-tabs-horizontal-frame .scroll_tab_inner li > a > svg, ul.dt-sc-tabs-vertical li > a > svg, .dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame > li > a > svg, .dt-sc-tabs-vertical-frame-container.type2 ul.dt-sc-tabs-vertical-frame > li > a > svg, .dt-sc-tabs-vertical-frame-container.type3 ul.dt-sc-tabs-vertical-frame > li > a > svg{margin:0 10px 0 0;}
	.dt-sc-icon-box.type5.rounded-skin .icon-wrapper svg {
    line-height: 80px;
    font-size: 40px;
    color: #ffffff;display: inline-block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;}
	.type9 ul.dt-sc-tabs-horizontal-frame .scroll_tab_inner li > a > svg{margin-bottom:12px;margin-right:0;font-size:25px; display:block; text-align:center; margin:0 auto 12px;}
	
	.post-nav-container.type3 svg{
    position: absolute;
    left: 10px;
    z-index: 6;
    margin: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
    font-size: 24px;}
	.post-nav-container.type3 .post-next-link svg{right: 10px; left: auto;}
	.dtportfolio-item.dtportfolio-hover-art .dtportfolio-image-overlay .links a svg{display:none;}
	.carousel_items .dt-carousel-navigation a svg{color:#FFF; font-size:35px;}
	div[class*='bg-opaque'], section[class*='bg-opaque']{z-index:2;}
	
	/*a.video-image svg { border-radius: 50%; font-size: 13px; position: relative; height: 60px; width: 60px !important; line-height: 60px; color: #fff; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; text-align: center; }
	a.video-image svg:after { border: 2px solid; position: absolute; display: block; content: ""; height: 64px; width: 64px; line-height: 64px; border-radius: 50%; z-index: 1; top: -2px; left: -2px; animation: videoPulse 1.5s infinite linear; animation-delay: 0.5s; opacity: 1; } */
	
	.dt-mc-subscribe form .email-field-wrap input[type="email"]{font-style:normal;}
	.dt-sc-button.with-icon.icon-right svg { margin-left: 10px;}
	
	/*.dt-sc-icon-box.type1 .icon-wrapper svg{font-size:60px;}
	.dt-sc-icon-box.type2 .icon-wrapper svg{font-size:45px;}
	.dt-sc-icon-box.type3 .icon-wrapper svg{font-size:46px;}
	.dt-sc-icon-box.type4 .icon-wrapper svg{font-size:34px;}
	.dt-sc-icon-box.type5.no-icon-bg .icon-wrapper svg{font-size:35px;}*/


	@keyframes float {
		from {
		  transform:translate(0px); border: 20px solid #ffda39;
		}

		to {
		   transform:translate(-10px); border: 15px solid #fada4e;
		}
	  }

	  @-webkit-keyframes float {
		from {
		  transform:translate(0px); border: 20px solid #ffda39;
		}

		to {
		   transform:translate(-10px); border: 15px solid #fada4e;
		}
		}

		@-ms-keyframes float {
			from {
				transform:translate(0px); border: 20px solid #ffda39;
			}

			to {
				 transform:translate(-10px); border: 15px solid #fada4e;
			}
		}

		@keyframes float-white {
			from {
				transform:translate(0px); border: 20px solid #ffffffc9;
			}

			to {
				 transform:translate(-10px); border: 15px solid #ffffff;
			}
		}

			@-webkit-keyframes float-white {
				from {
					transform:translate(0px); border: 20px solid #ffffffc9;
				}

				to {
					transform:translate(-10px); border: 15px solid #ffffff;
				}
			}

			@-ms-keyframes float-white {
				from {
					transform:translate(0px); border: 20px solid #ffffffc9;
				}

				to {
					 transform:translate(-10px); border: 15px solid #ffffff;
				}
			}



	@media screen and (-webkit-min-device-pixel-ratio:0) {
		::i-block-chrome, .safari-hack.vc_row.vc_row-flex { display: block !important; }
	}
	/*.vc_row.vc_row-flex, .vc_row.vc_row-flex > .vc_column_container*/

	/*----*****---- << Vc Column custom class >> --****--*/
	.rs_no-padding_column.wpb_column, .vc_col-md-12.wpb_column.rs_no-padding_column { margin-top: -1px; padding-bottom: 0; margin-bottom:0; } /* http://prntscr.com/dydqdv */

	.light-overlay:before { background:rgba(255, 255, 255, 0.8); } /* http://prntscr.com/dydsrd  = Model Home page contact section */
	.dark-overlay:before { background:rgba(0, 0, 0, 0.8);  }

	/*----*****---- << Gray Scale >> --****--*/ /* http://prntscr.com/dydr06 = Hotel Our Firm Page */
	.gray-scale:hover, .gray-scale:hover img { -webkit-filter: grayscale(1); -moz-filter: grayscale(1); -ms-filter: grayscale(1); -o-filter: grayscale(1); filter: grayscale(1); -webkit-transition-property: -webkit-filter; -moz-transition-property: -moz-filter; -ms-transition-property: -ms-filter; -o-transition-property: -o-filter; transition-property: filter; -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -ms-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; }

	/*----*****---- << Text with icon >> --****--*/ /* http://prntscr.com/dydrax = Fitness Home Page */
	.dt-sc-text-with-icon { width:100%; clear:both; float:left; font-weight:bold; padding:12px 0px 12px 20px; }
	.dt-sc-text-with-icon span { font-size:18px; margin:0px 7px 0px 0px; position:relative; top:2px; font-weight:bold; }

	.dt-sc-text-with-icon.border-bottom { border-bottom:1px solid; }
	.dt-sc-text-with-icon.border-right { border-right:1px solid; }

	.dt-sc-dark-bg .dt-sc-text-with-icon span { color:#ffffff; }

	/*----*****---- << Hosting Domain Page Table >> --****--*/ /* http://prntscr.com/dydxr3 = Hosting Domain Page */
	.hosting-table { border-top:0px; font-family:'Open Sans', sans-serif; }
	.hosting-table th { background:#e1e1e1; border-radius:5px 5px 0px 0px; color:#000000; font-weight:600; font-size:16px; border-right:1px solid #ffffff; padding:20px 15px; }
	.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { background:rgba(0, 0, 0, 0.95); border-right:1px solid rgba(255, 255, 255, 0.2); border-bottom:0px; font-size:16px; font-weight:600; padding:25px 15px; }
	.hosting-table tbody tr td:last-child, .hosting-table tr th:last-child { border:none; }

	.hosting-table tbody tr:nth-child(2) td { background:rgba(0, 0, 0, 0.9); }
	.hosting-table tbody tr:nth-child(3) td { background:rgba(0, 0, 0, 0.85); }
	.hosting-table tbody tr:nth-child(4) td { background:rgba(0, 0, 0, 0.8); }
	.hosting-table tbody tr:nth-child(5) td { background:rgba(0, 0, 0, 0.75); }
	.hosting-table tbody tr:nth-child(6) td { background:rgba(0, 0, 0, 0.7); }
	.hosting-table tbody tr:nth-child(7) td { background:rgba(0, 0, 0, 0.65); }
	.hosting-table tbody tr:nth-child(8) td { background:rgba(0, 0, 0, 0.6); }
	.hosting-table tbody tr:nth-child(9) td { background:rgba(0, 0, 0, 0.55); }
	.hosting-table tbody tr:nth-child(10) td { background:rgba(0, 0, 0, 0.5); }
	.hosting-table tbody tr:nth-child(11) td { background:rgba(0, 0, 0, 0.45); }
	.hosting-table tbody tr:nth-child(12) td { background:rgba(0, 0, 0, 0.4); }

	.hosting-table tbody tr td:first-child { position:relative; }
	.hosting-table tbody tr td:first-child:before { content:""; position:absolute; left:0px; top:0px; width:100%; height:100%; background:#60ae0d; z-index:-1; }

	.hosting-table tbody tr td.new, .hosting-table tbody tr td.hot { position:relative; overflow:hidden; }
	.hosting-table tbody tr td.new:before, .hosting-table tbody tr td.hot:before { content:"New"; position:absolute; left:-20px; top:5px; padding:2px 22px; background:#60ae0d; color:#ffffff; font-size:12px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg);  transform:rotate(-45deg); }
	.hosting-table tbody tr td.hot:before { content:"Hot"; background:#e80505; padding:2px 24px; }

	/*----*****---- << Spa rounded corner image >> --****--*/ /* http://prntscr.com/dydylt = Spa */
	.dt-sc-partially-rounded-alt { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }

	.vc_min_height_right.wpb_column.vc_col-sm-6 { margin-left: 30px; width: calc(50% - 30px); } /* http://prntscr.com/e0ka7y *

	/*----*****---- << Image Caption With Counter >> --****--*/	 /* http://prntscr.com/dydzek = Image caption counter */
	.dt-sc-image-caption-with-counter { counter-reset:image-caption-counter; }
	.dt-sc-image-caption-with-counter h3 { counter-increment:image-caption-counter; }
	.dt-sc-image-caption-with-counter h3:before { content:counter(image-caption-counter, decimal-leading-zero); font-size:36px; font-weight:600; border-bottom:2px solid; float:left; margin:-10px 20px 0px 0px; padding:0px; }
	.dt-sc-image-caption-with-counter h3:before { font-family:'Open Sans', sans-serif; }

	.dt-sc-contact-details-on-map .dt-sc-map-overlay h3 { color:#ffffff; }

	/*----*****---- << Photography Readmore Plus >> ----*****----*/ /* http://prntscr.com/dydzxp = Photography */
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }

	.dt-sc-readmore-plus-icon { position:absolute; right:0px; bottom:0px; width:60px; height:60px; text-indent:-9999px; }
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { content:""; position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto; }
	.dt-sc-readmore-plus-icon:before { height:1px; width:30px; }
	.dt-sc-readmore-plus-icon:after { height:30px; width:1px; }

	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { background:#ffffff; }
	.dt-sc-readmore-plus-icon { background:#000000; }
	.dt-sc-readmore-plus-icon:hover { background:rgba(0, 0, 0, 0.8); }

	/*----*****---- << Nightclub Home page Social icons >> ----*****----*/
	.diamond-narrow-square-border li:before { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }

	.diamond-narrow-square-border li a { color:#000000; }
	.diamond-narrow-square-border li a:hover { color:#ffffff; }

	.header-28 .custom_border_line:before { width: 5px; height: 100%; position: absolute; content: ""; background-color: #000; left: 0; z-index: 1; }
	.header-28 .dt-sc-contact-info.type2 span { height: 35px; line-height: 35px; width: 35px; left: -15px; }
	.header-28 .dt-sc-contact-info.type2 { padding: 0px 0px 0px 45px; }
	.header-28 .dt-sc-contact-info.type2 h6 { font-weight: 500; font-size: 20px; margin: 0; }
	.header-28.dt-skin-primary-bg-opaque-9 .wpb_column.vc_col-sm-12 { min-height: 0; }
	.header-28-topbar .dt-custom-nav-wrapper.inline-horizontal .dt-custom-nav { margin: 0; }

	.dt-sc-title.with-before-after-shape.remove-border .dt-sc-main-heading:after, .dt-sc-title.with-before-after-shape.remove-border .dt-sc-main-heading:before { display: none; }

	.dt-sc-animated-heading { font-size: 87px; font-weight: bold; -webkit-text-fill-color: transparent; background: -o-linear-gradient(transparent, transparent); -webkit-background-clip: text; background-position: center; -webkit-animation: moving 5s linear infinite; -moz-animation: moving 5s linear infinite; -moz-animation: moving 5s linear infinite; -o-animation: moving 5s linear infinite; text-transform: uppercase; word-wrap: break-word; line-height: 70px; }

	.rotating-img img { -webkit-animation: rotating 20s linear infinite; -moz-animation: rotating 20s linear infinite; -moz-animation: rotating 20s linear infinite; -o-animation: rotating 20s linear infinite;  }

	@-webkit-keyframes moving {
	    0% { background-position: right bottom; }
	    100% { background-position: left top; }
	}
	@-moz-keyframes moving {
	    0% { background-position: right bottom; }
	    100% { background-position: left top; }
	}


	@-webkit-keyframes rotating {
		0% {
			transform-origin:center center;
			transform:rotate(0deg);
		}
		50% {
			transform-origin:center center;
			transform:rotate(180deg);
		}
		100% {
			transform-origin:center center;
			transform:rotate(360deg);
		}
	}
	@-moz-keyframes rotating {
	   0% {
			transform-origin:center center;
			transform:rotate(0deg);
		}
		50% {
			transform-origin:center center;
			transform:rotate(180deg);
		}
		100% {
			transform-origin:center center;
			transform:rotate(360deg);
		}
	}

	.carousel_items.without-space-item .dt_carousel > div { margin: 0; }
	.carousel_items.without-space-item .dt-carousel-navigation.nav-side { bottom: 0; }
	.inner-row-skin-bg .vc_column-inner:before { display: inline; content: ""; height: 100%; pointer-events: none; position: absolute; left: 0; top: 0; width: 100%; opacity: 0.9; z-index: -1; }

	.carousel_items.video-carousel a.video-image span { color: #fff; position: absolute; top: 0; bottom: 0; margin: auto; left: 0; right: 0; display: inline-block; font-size: 20px; z-index: 1; text-align: center; width: 60px; height: 60px; line-height: 60px; }

	.dt-contact-form-overlap { top: -150px; }

	#dt-sc-rev-slider .hotel-booking-search form .hb-submit { text-align: center !important; }

	.dt-sc-tabs-horizontal-frame-container.type8.custom-booking-form .dt-sc-tabs-horizontal-frame { text-align: left; }
	.gradient-half-overlay-white .carousel_items .dt-carousel-navigation.nav-top { right: 50px; }
	.dt-sc-title.with-before-after-shape.custom_space .dt-sc-main-heading { margin: 0; }


	/*--------------------------------------------------------------
	2.0 - Browser Fix
	--------------------------------------------------------------*/
	/* IE9 and above override */
	@media screen and (min-width:0\0) {

		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 71px 0 0; }
		h2.dt-sc-animated-heading { background: none !important; }
		.mask-border-img .vc_single_image-wrapper:after { border: 20px solid; }
		.vc_row-flex.vc_row > .vc_column_container.inner-row-skin-bg > .vc_column-inner { z-index: auto; }
		.inner-row-skin-bg > .vc_column-inner:before { z-index: 1; }
		.inner-row-skin-bg > .vc_column-inner > .wpb_wrapper { z-index: 9; }

	}

	/* IE9 only override */
	.ie9 .dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }

	@media only screen and (max-width: 1920px) and (min-width: 1700px) {

		.gradient-half-overlay:before { height: 34.9%; }
		.gradient-half-overlay-white:before { height: 37.3%; }

	}

	@media only screen and (max-width: 1600px) and (min-width: 1441px) {

		.gradient-half-overlay:before { height: 38.6%; }
		.custom-padding-option .vc_column-inner { padding-left: 17.2% !important; }
		.vc_row.custom-padding-option-rw  { padding-left: 11% !important; }
		.gradient-half-overlay-white-alternate:before { height: 40%; }
		.gradient-half-overlay-white:before { height: 44%; }

	}

	@media only screen and (max-width: 1480px) and (min-width: 1440px) {

		.gradient-half-overlay:before {	height: 42.1%; }
		.gradient-half-overlay-white-alternate:before { height: 37%; }
		.gradient-half-overlay-white:before { height: 44%; }

	}

	/*--------------------------------------------------------------
	3.0 - DT Responsive
	--------------------------------------------------------------*/
	@media only screen and (max-width: 1440px) and (min-width: 1200px) {

		.header-28 .dt-sc-contact-info.type2 { padding: 0px 0px 0px 40px;	}

		.custom-padding-option .vc_column-inner { padding-left: 9.4% !important; }
		.gradient-half-overlay-white:before { height: 47.7%; }
		.gradient-half-overlay:before { height: 42.1%; }
		.vc_row.custom-padding-option-rw  { padding-left: 11% !important; }
		.gradient-half-overlay-white-alternate:before { height: 32%; }

		.rs_letter-spacing-md	{ letter-spacing: 1px; }

	}

	/* Note: Design for a width of 960px */
    @media only screen and (min-width:992px) and (max-width:1199px) {

		/*----*****---- << Hosting >> ----*****----*/
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:10px; }

		/*----*****---- << Restaurant >> ----*****----*/
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }

		/*----*****---- << Miscellaneous >> ----*****----*/
		.dt-sc-text-with-icon { font-size: 13px; }

		.dt-sc-image-caption.type8 .dt-sc-image-title h6 { line-height: normal; }
		.custom-padding-option .vc_column-inner { padding-left: 8% !important; }
		.custom-tab-content-menu h5 { width: 74%; }
		.dt-sc-animated-heading {	font-size: 75px; }
		.rs_custom-padding-right .vc_column-inner { padding-right: 5% !important; }
		.custom-overlap-slider { top: 0px; }
		.dt-sc-title.with-before-after-shape.rs_letter-spacing .dt-sc-main-heading, .rs_letter-spacing { letter-spacing: 0; }
		.gradient-half-overlay:before, .gradient-half-overlay-white:before { height: 43.3%; }
		.gradient-half-overlay-white:before { height: 50%; }
		.custom-trip-detail-list-table table tr th { min-width: 100%; }
		.vc_row.custom-padding-option-rw  { padding-left: 11% !important; }
		.gradient-half-overlay-white-alternate:before { height: 32%; }

	}

	 /* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:991px) {

		.dt-sc-text-with-icon { font-size: 11px; }

		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 { padding-left: 5px; padding-right: 5px; }
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 { font-size: 13px; padding-left: 10px; padding-right: 10px; }
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 h6 { font-size: 15px; }

		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 76px 0 0; }

		.rs_line_height p { line-height:normal !important; }

		/*----*****---- << Event >> ----*****----*/
		.dt-sc-content-with-hexagon-shape { margin-left:16%; }
		.event-colored-box { margin-top:0; }
		.event-contact-info { margin-left:25%; }

		/*----*****---- << Architecture >> ----*****----*/
		.architecture-process.rs_padding_override { padding-left:20px !important; padding-right:20px !important; }
		.column.wpb_column.dt-sc-one-fifth.vc_col-md-4 { width:32%; margin-bottom:20px; min-height:290px; }
		.column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(4), .column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(10) { margin-left:0; }

		.secondary-skin-gradient .dt-sc-contact-info, .secondary-skin-gradient .dt-sc-contact-info span { font-size: 40px; }
		.custom-overlap-slider, .custom-breadcrumb-form-overlap, .dt-contact-form-overlap { top: 0; }
		.dt-sc-title.with-before-after-shape.rs_letter-spacing .dt-sc-main-heading, h2.rs_letter-spacing, .rs_letter-spacing { font-size: 19px; letter-spacing: 0;  }
		.custom-padding-option .vc_column-inner, .vc_row.custom-padding-option-rw { padding-left: 5.5% !important; }
		.gradient-half-overlay:before { height: 70%; }
		.gradient-half-overlay-white:before { height: 55%; }
		.custom-black-overlay:before { background-color: rgba(0, 0, 0, 0.7); content: ""; width: 100vw;	height: 100%;	left: -130px; right: -130px; bottom: 130px;	display: block; position: absolute;	z-index: 0;	top: 0; margin: auto;	}
		div.custom_equal_padding_option { padding-left: 7% !important; padding-right: 7% !important; }
		.custom_equal_padding_option .carousel_items .dt-carousel-navigation.nav-side { margin: 30px 0 0; position: static; }
		.rs_custom-padding-right-default .vc_column-inner { padding-right: 15px !important; }
		div.rs_alignleft { text-align: left; }
		.custom-trip-detail-list-table table tr th { min-width: 100%; }
		.custom_border-remove .rs_col-sm-12.wpb_column { margin-bottom: 0; }
		.custom_border-remove .vc_column-inner { border-width: 0 0 1px 0 !important; border-style: solid;	border-color: rgba(0,0,0,0.1); }
		.rs_padding_override_md .vc_column-inner { padding-left:0 !important; padding-right:0 !important; }

		.gradient-half-overlay-white-alternate:before { height: 40%; }

	}

	@media only screen and (max-width: 767px) and (min-width: 480px) {

		div.custom_mobile_width { float: none !important; margin: 0 auto; padding-left: 0 !important; padding-right: 0 !important; left: 0 !important; width: 420px !important;	}
		.rev_slider .dt-sc-tabs-horizontal-frame-container.type8 ul.dt-sc-tabs-horizontal-frame .scroll_tab_inner li > a { line-height: 25px !important; }

	}

	/*----*****---- << Mobile (Landscape) >> ----*****----*/

	/* Common Styles for the devices below 767px width */
	@media only screen and (max-width: 767px) {

		.fitness-form-container.extend-bg-fullwidth-right::after { background-color:transparent; }
		.fitness-form-container.extend-bg-fullwidth-right .vc_column-inner { padding-left:30px !important; padding-right:30px !important; }
		.fitness-contact-boxes .wpb_text_column, .fitness-contact-boxes .wpb_text_column:nth-child(2), .fitness-contact-boxes .wpb_text_column:last-child, .fitness-contact-boxes .wpb_text_column:nth-child(3) { width:100%; padding:10px 0px; }

		.hotel_blockquote-type4 blockquote.type4 { margin-top:0; }

		.event-colored-box { margin-top:0; }
		.event-contact-info.wpb_column { width: 320px; padding: 85px 30px 30px; float: none; }

		.gradient-parallax:before { background: -moz-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
    background: -webkit-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
    background: linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1); }

		/*----*****---- << Hosting >> ----*****----*/
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:0; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 { padding-left:100px; }
		.rs_client_testimonial-center .dt-sc-image-flip a { position:relative; display:block; }
		.rs_client_testimonial-center .dt-sc-image-flip { text-align:center; }

		.hosting-table th { font-size:13px; padding:13px 10px; text-transform: capitalize; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:13px; padding:21px 10px; }
		.hosting-contact-info-container:before { content:none; }

		.extend-bg-fullwidth-left::after { content:none; }

		/*----*****---- << Custom Class >> ----*****----*/
		.rs_col_no_btm_space .wpb_column, .rs_col_no_btm_space.wpb_column,
		.rs_negative-margin_override.vc_row { margin-left:0 !important; }

		.rs_padding_override_zero.vc_row,
		.rs_padding_override_zero.wpb_column .vc_column-inner { padding-left: 0 !important; padding-right: 0 !important; }

		.secondary-skin-gradient .dt-sc-contact-info, .secondary-skin-gradient .dt-sc-contact-info span { font-size: 30px; }
		.rs_fontsize_small { font-size: 50px !important; }

		/*----*****---- << Custom Class >> ----*****----*/
		.rs_padding_override.vc_row,
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 50px !important; padding-right: 50px !important; }

		.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left:not(.vc_col-has-fill):after,
		.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-left.vc_col-has-fill > .vc_column-inner:after,
		.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right:not(.vc_col-has-fill):after,
		.vc_row.extend-bg-fill-slanting .extend-bg-fullwidth-right.vc_col-has-fill > .vc_column-inner:after { margin: 0 -15px; left: 0; right: 0; transform: none; }
		.remove-right-border .vc_column-inner { border-width: 0 !important;  }
		.header-28 .dt-sc-contact-info.type2 { padding: 18px 0px 20px 45px;	margin: 0; }
		.custom-overlap-slider { padding-left: 21%;	padding-right: 21%; top: 0; }
		.custom-padding-option .vc_column-inner { padding-left: 8% !important; padding-right: 8% !important; }
		.vc_row.wpb_row.vc_inner.vc_row-fluid.custom_video-player .vc_col-sm-12 { margin: 0; position: relative;	bottom: 20px;	right: 0;	width: 92%;	left: 10%; }
		.rs_custom-padding-right .vc_column-inner, .rs_custom-padding-right-default .vc_column-inner { padding-right: 15px !important; }
		.rs_custom-padding-right-default-zero .vc_column-inner { padding-right: 0 !important; }
		.custom-mobile-overlay:before { background-color: #000000; content: ""; width: 100vw;	height: 100%;	left: -150px; right: -150px; bottom: -50px;	display: block; position: absolute;	z-index: 0;	top: 0; margin: auto;	}
		.gradient-half-overlay:before { height: 85%; }
		.gradient-half-overlay-white:before { height: 45%; }
		.custom-breadcrumb-form-overlap, .dt-contact-form-overlap { top: 0; }
		div.custom_equal_padding_option { padding-left: 7% !important; padding-right: 7% !important; }
		.gradient-half-overlay-white .dt-carousel-navigation .carousel-prv-arrow span:before, .gradient-half-overlay-white .dt-carousel-navigation .carousel-next-arrow span:before { border-color: inherit; }
		.rs_margin_bottom_default { margin-bottom: 0; }
		div.rs_alignleft { text-align: left; }
		.custom-trip-detail-list-table table tr th { min-width: 100%; }
		.custom_border-remove .rs_col-sm-12.wpb_column { margin-bottom: 0; }
		.custom_border-remove .vc_column-inner { border-width: 0 0 1px 0 !important; border-style: solid;	border-color: rgba(0,0,0,0.1); }
		.rs_padding_override_md .vc_column-inner { padding-left:0 !important; padding-right:0 !important; }
		.bottom-gray-bg:before { height: 90%; }

		.gradient-half-overlay-bg .dt-sc-classic-ii-style.dt-sc-post-entry .blog-entry.has-post-thumbnail > div.entry-thumb:before, .gradient-half-overlay-white-bg .dt-sc-classic-ii-style.dt-sc-post-entry .blog-entry.has-post-thumbnail > div.entry-thumb:before { padding-top: 170%; }
		.rs_col-mobile-sm-6.wpb_column .wpb_column { width: 50%; }

	}

	/* Common Styles for the devices below 479px width */
    @media only screen and (max-width: 479px) {

		/*----*****---- << Event location page >> ----*****----*/
		.event-contact-info.wpb_column { width:100%; margin:20px 0px 0px 0px; }
		.event-contact-info:before { left:0px; width:100%; background-size:100%; }
		.event-contact-info .dt-sc-sociable li { margin-bottom:20px; }

		/*----*****---- << Custom Class >> ----*****----*/
		.rs_padding_left-override.vc_row .vc_column-inner, .rs_padding_left-override.wpb_column .vc_column-inner { padding-left:15px !important; }
		.vc_row.vc_row-no-padding .responsive-padding > .vc_column-inner { padding-right: 35px; padding-left: 35px; }

		.gradient-content .dt-sc-button.medium { padding: 14px 20px; }

		.overflow-content { margin: 0; }

		/*----*****---- << Hosting >> ----*****----*/
		.hosting-table th { text-transform:capitalize; font-size:12px; padding:13px 6px; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:12px; padding:22px 8px; }

		/*----*****---- << Miscellaneous >> ----*****----*/
		.rs_fontsize_small { font-size: 40px !important; }

		.rs_padding_override.vc_row,
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 30px !important; padding-right: 30px !important; }

		/*----*****---- << Business >> ----*****----*/
		.business-contact-social li { margin: 0 15px; }
		.custom_footer_menu_align .dt-custom-nav-wrapper.left { text-align: left; }
		.custom_footer_menu_align .flex-col-elements-inline-middle, .custom_footer_menu_align.vc_row.vc_row-flex > .vc_column_container>.vc_column-inner, .custom_footer_menu_align .flex-col-elements-inline-middle.justify-end.vc_column_container > .vc_column-inner > .wpb_wrapper { display: block; }
		.custom_footer_menu_align .dt-sc-sociable.right { float: left; text-align: left; width: 100%; }
		div.custom_mobile_width { float: none !important; margin: 0 auto; padding-left: 0 !important; padding-right: 0 !important; left: 0 !important; width: 290px !important;	}
		.gradient-half-overlay-white:before {	height: 49%; }
		.flex-col-elements-inline-middle.rs_margin_bottom_default.vc_column_container > .vc_column-inner > .wpb_wrapper { display: block; text-align: center; }
		.flex-col-elements-inline-middle.rs_margin_bottom_default.vc_column_container > .vc_column-inner > .wpb_wrapper h3 { text-align: center !important; margin: 0 0 10px !important; }
		.flex-col-elements-inline-middle.rs_margin_bottom_default.vc_column_container > .vc_column-inner > .wpb_wrapper .dt-sc-button.medium { margin: 0 !important; }

		.custom-trip-detail-list-table table tr th {	border-bottom: 1px solid #e7e7e7; }
		.custom-trip-detail-list-table table tr th, .custom-trip-detail-list-table table tr td { float: left; display: block; width: 100%; }
		.custom-trip-detail-list-table table tr:last-child td { border-width: 0 0 1px; }

		.dt-sc-animated-heading { font-size: 70px; }
		.custom-tab-content-menu h5 { width: 100%; }
		.custom-tab-content-menu p { padding: 0 0 20px; width: 100%; }

		.gradient-half-overlay-bg .dt-sc-classic-ii-style.dt-sc-post-entry .blog-entry.has-post-thumbnail > div.entry-thumb:before, .gradient-half-overlay-white-bg .dt-sc-classic-ii-style.dt-sc-post-entry .blog-entry.has-post-thumbnail > div.entry-thumb:before { padding-top: 180%;	}
		.rev_slider .dt-sc-tabs-horizontal-frame-container.type8 .scroll_tabs_container { min-height: 56px; }
		.rev_slider .hotel-booking-search form .hb_input_field input[type="text"], .rev_slider form div[class*=advanced-search-field] .selection-box select, .rev_slider .hotel-booking-search .selection-box select, .rev_slider .hotel-booking-search .hb-form-field:last-child .selection-box select {	font-size: 12px !important;	}

		.rs_aligncenter { text-align: center; }

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 379px) {

		.rev_slider .dt-sc-tabs-horizontal-frame-container.type8 .scroll_tabs_container { min-height: 46px; margin: 0 !important; }

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {

		/*----*****---- << Event location page >> ----*****----*/
		.event-contact-info.wpb_column { padding-left:20px; padding-right:20px; }
		.event-contact-info .dt-sc-contact-info span { width:100%; text-align:center; float:none; margin:0; }

		/*----*****---- << Hosting contact Page >> ----*****----*/
		.hosting-contact-info-container:before { left:0; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 { padding-left:0px; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:0px; }
		.hosting-contact-info-container:before { width:100%; }

		/*----*****---- << Hosting Domain Page >> ----*****----*/
		.hosting-table th { font-size:10px; padding:13px 0; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:10px; padding:21px 7px; }

		/*----*****---- << Common >> ----*****----*/
		.rs_fontsize_small { font-size: 32px !important; }

		/* http://prntscr.com/dydp42, http://prntscr.com/dydpkf */
		.rs_padding_override.vc_row,
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 20px !important; padding-right: 20px !important; }

		/*----*****---- << Fitness >> ----*****----*/
		.dt-sc-text-with-icon { font-size: 10px; padding-left: 15px; }
		.dt-sc-text-with-icon span { font-size: 15px; margin-right: 5px; }
	}